final_overall_flow.json
[{"id":"92e9a0b4.40468","type":"tab","label":"Balai Bomba","disabled":false,"info":""},{"id":"d506151c.c37bb8","type":"ibmiot in","z":"92e9a0b4.40468","authentication":"apiKey","apiKey":"dbd9b481.95deb8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"TempSensor_1","applicationId":"","deviceType":"TempSensor","eventType":"accel","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":560,"y":1000,"wires":[["abc57721.3be408","4559fa77.eff404","5c51e8a4.488818"]]},{"id":"abc57721.3be408","type":"debug","z":"92e9a0b4.40468","name":"iot_info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":520,"wires":[]},{"id":"4559fa77.eff404","type":"switch","z":"92e9a0b4.40468","name":"check_smoke","property":"payload.smoke_detected","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":840,"y":920,"wires":[["9e024480.709858"],["17f1b009.e5293"]]},{"id":"b0d174bc.ea4be8","type":"cloudant out","z":"92e9a0b4.40468","name":"","cloudant":"d006a532.9d24a8","database":"yesfire","service":"_ext_","payonly":true,"operation":"insert","x":1410,"y":700,"wires":[]},{"id":"9893bf8.fa1674","type":"switch","z":"92e9a0b4.40468","name":"check_smoke","property":"payload.smoke_detected","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1940,"y":1060,"wires":[["8dd450a6.2f8da","6a578e7d.5135e","4e81df75.38943","d783809d.dbf7b","eef6e731.9f2b18"],["64469790.324de8"]]},{"id":"1a060f47.a23341","type":"comment","z":"92e9a0b4.40468","name":"smoke = 0","info":"","x":940,"y":1020,"wires":[]},{"id":"17f1b009.e5293","type":"switch","z":"92e9a0b4.40468","name":"check_temp","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gte","v":"40","vt":"num"},{"t":"lt","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":1080,"wires":[["e9146a45.d44a48"],["75df4eae.45db6"]]},{"id":"34f33272.d4244e","type":"comment","z":"92e9a0b4.40468","name":"smoke = 1","info":"","x":940,"y":860,"wires":[]},{"id":"75df4eae.45db6","type":"cloudant out","z":"92e9a0b4.40468","name":"","cloudant":"d006a532.9d24a8","database":"nonfire","service":"_ext_","payonly":true,"operation":"insert","x":1170,"y":1240,"wires":[]},{"id":"5041f623.8b12e8","type":"comment","z":"92e9a0b4.40468","name":"smoke = 0","info":"","x":2060,"y":1120,"wires":[]},{"id":"8d1e16e7.e929e8","type":"comment","z":"92e9a0b4.40468","name":"smoke = 1","info":"","x":2060,"y":960,"wires":[]},{"id":"b4b48ac4.0dbca8","type":"comment","z":"92e9a0b4.40468","name":"read_data_sensor","info":"","x":550,"y":960,"wires":[]},{"id":"2cb97a2a.fb3c66","type":"comment","z":"92e9a0b4.40468","name":"Simulate activate flush","info":"","x":1400,"y":620,"wires":[]},{"id":"fdbc68cb.65ebe8","type":"comment","z":"92e9a0b4.40468","name":"temp > 40","info":"","x":1200,"y":1100,"wires":[]},{"id":"8df10eba.5af8b","type":"comment","z":"92e9a0b4.40468","name":"temp < 40","info":"","x":1120,"y":1160,"wires":[]},{"id":"2e7c82bd.353d0e","type":"comment","z":"92e9a0b4.40468","name":"Simulate activate flush","info":"","x":1600,"y":1060,"wires":[]},{"id":"64469790.324de8","type":"switch","z":"92e9a0b4.40468","name":"check_temp","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gte","v":"40","vt":"num"},{"t":"lt","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2210,"y":1200,"wires":[["bc8ca900.ba1c68","5e177098.f1a66","a1b24d9a.ba1f9","436e0570.5f0b4c"],["9084b9b5.ec8e48","bc8ca900.ba1c68"]]},{"id":"9084b9b5.ec8e48","type":"cloudant out","z":"92e9a0b4.40468","name":"","cloudant":"d006a532.9d24a8","database":"nonfire","service":"_ext_","payonly":true,"operation":"insert","x":2350,"y":1560,"wires":[]},{"id":"4e81df75.38943","type":"cloudant out","z":"92e9a0b4.40468","name":"","cloudant":"d006a532.9d24a8","database":"yesfire","service":"_ext_","payonly":true,"operation":"insert","x":2190,"y":840,"wires":[]},{"id":"9e024480.709858","type":"function","z":"92e9a0b4.40468","name":"set_count","func":"var value = flow.get('count')||0;\nvalue++;\nflow.set('count',value);\nmsg.payload['count'] = value;\nmsg.payload['flush'] = \"Flush Activated\";\nreturn msg\n","outputs":1,"noerr":0,"x":1020,"y":780,"wires":[["223a19e6.519ac6","bb1c138e.df626"]]},{"id":"223a19e6.519ac6","type":"switch","z":"92e9a0b4.40468","name":"check_count","property":"payload.count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1230,"y":820,"wires":[["b0d174bc.ea4be8","65c520c8.c3fa8"],["9893bf8.fa1674"],["3771bb17.5bff04"]]},{"id":"3771bb17.5bff04","type":"cloudant out","z":"92e9a0b4.40468","name":"","cloudant":"d006a532.9d24a8","database":"yesfire","service":"_ext_","payonly":true,"operation":"insert","x":1350,"y":920,"wires":[]},{"id":"fcbb1bd3.e4abf8","type":"comment","z":"92e9a0b4.40468","name":"count = 3","info":"","x":1360,"y":960,"wires":[]},{"id":"e9146a45.d44a48","type":"function","z":"92e9a0b4.40468","name":"set_count","func":"var value = flow.get('count')||0;\nvalue++;\nflow.set('count',value);\nmsg.payload['count'] = value;\nmsg.payload['flush'] = \"Flush Activated\";\nreturn msg","outputs":1,"noerr":0,"x":1300,"y":1140,"wires":[["11f07409.ac2e6c"]]},{"id":"11f07409.ac2e6c","type":"switch","z":"92e9a0b4.40468","name":"check_count","property":"payload.count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1470,"y":1260,"wires":[["d8cc4240.7774b","d871878c.56ff48"],["9893bf8.fa1674"],["7c6cd9e.ed78228"]]},{"id":"d8cc4240.7774b","type":"cloudant out","z":"92e9a0b4.40468","name":"","cloudant":"d006a532.9d24a8","database":"yesfire","service":"_ext_","payonly":true,"operation":"insert","x":1610,"y":1140,"wires":[]},{"id":"7c6cd9e.ed78228","type":"cloudant out","z":"92e9a0b4.40468","name":"","cloudant":"d006a532.9d24a8","database":"yesfire","service":"_ext_","payonly":true,"operation":"insert","x":1670,"y":1380,"wires":[]},{"id":"8dd450a6.2f8da","type":"delay","z":"92e9a0b4.40468","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2080,"y":500,"wires":[["385b914.2b3c46e"]]},{"id":"385b914.2b3c46e","type":"function","z":"92e9a0b4.40468","name":"reset_count","func":"var value = 0;\nmsg.payload['count'] = value;\nflow.set('count',value);\nreturn msg","outputs":1,"noerr":0,"x":2310,"y":500,"wires":[[]]},{"id":"7a72efe8.cc0ff","type":"comment","z":"92e9a0b4.40468","name":"count = 2","info":"","x":1440,"y":840,"wires":[]},{"id":"7ba31005.2d512","type":"comment","z":"92e9a0b4.40468","name":"count = 2","info":"","x":1660,"y":1200,"wires":[]},{"id":"65c520c8.c3fa8","type":"debug","z":"92e9a0b4.40468","name":"Activate Flush","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.flush","targetType":"msg","x":1400,"y":660,"wires":[]},{"id":"d871878c.56ff48","type":"debug","z":"92e9a0b4.40468","name":"Activate Flush","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.flush","targetType":"msg","x":1600,"y":1100,"wires":[]},{"id":"c18244f8.abf858","type":"function","z":"92e9a0b4.40468","name":"TEMPORARYreset_count","func":"var value = 0;\nmsg.payload['count'] = value;\nflow.set('count',value);\nreturn msg","outputs":1,"noerr":0,"x":1850,"y":1320,"wires":[[]]},{"id":"ad5aed69.a4eab","type":"function","z":"92e9a0b4.40468","name":"TEMPORARYreset_count","func":"var value = 0;\nmsg.payload['count'] = value;\nflow.set('count',value);\nreturn msg","outputs":1,"noerr":0,"x":1700.0000915527344,"y":802.85719871521,"wires":[[]]},{"id":"57dd6876.b411d8","type":"comment","z":"92e9a0b4.40468","name":"count = 3","info":"","x":1580,"y":1320,"wires":[]},{"id":"c949d267.d30a8","type":"debug","z":"92e9a0b4.40468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2870,"y":980,"wires":[]},{"id":"fcac48c4.74cf08","type":"twitter out","z":"92e9a0b4.40468","twitter":"","name":"Tweet","x":2690,"y":960,"wires":[]},{"id":"8fe08574.7a29a8","type":"cloudant in","z":"92e9a0b4.40468","name":"Cloudant Address Retrieval","cloudant":"d006a532.9d24a8","database":"troublechute_id_address","service":"_ext_","search":"_id_","design":"","index":"","x":2660,"y":760,"wires":[["da389153.0e923","8e32f3b8.4767a"]]},{"id":"da389153.0e923","type":"debug","z":"92e9a0b4.40468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2910,"y":780,"wires":[]},{"id":"8e32f3b8.4767a","type":"function","z":"92e9a0b4.40468","name":"Address & Map Seeker","func":"var address = msg.payload.address;\nvar address_list = address.split(\" \");\nvar maps_query = address_list.join(\"+\");\n\nvar time  = flow.get('tweettime'); \nmsg.payload =\"[NEW CASE] \" + time + \" - Rubbish Chute Fire at: \" + address + \". Community assistance required. Click below for directions to fire: https://www.google.com/maps/dir/?api=1&destination=\" + maps_query ;\nreturn msg;","outputs":1,"noerr":0,"x":2770,"y":860,"wires":[["c949d267.d30a8","fcac48c4.74cf08"]]},{"id":"6a578e7d.5135e","type":"function","z":"92e9a0b4.40468","name":"ID parser","func":"var data = msg.deviceId;\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":2580,"y":680,"wires":[["67d40d07.fa31b4","8fe08574.7a29a8"]]},{"id":"67d40d07.fa31b4","type":"debug","z":"92e9a0b4.40468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2810,"y":680,"wires":[]},{"id":"5c51e8a4.488818","type":"function","z":"92e9a0b4.40468","name":"","func":"msg.payload.command = \"addRow\";\nvar countt = flow.get('countt')||0;\ncountt += 1;\nflow.set('countt',countt);\nmsg.payload.arguments = [{\"ID\":countt,\"time\":msg.payload.time, \"temperature\": msg.payload.temperature, \"smoke detected\":msg.payload.smoke_detected,\"trash height\":msg.payload.trash_height, \"sensor function\":msg.payload.sensor_function}, true];\nreturn msg","outputs":1,"noerr":0,"x":715,"y":1340,"wires":[["ed250318.18933","5ed136cb.4acc38","5485cd5d.0f8794","2823d47c.11ffbc"]],"l":false},{"id":"5ed136cb.4acc38","type":"debug","z":"92e9a0b4.40468","name":"table debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":1280,"wires":[]},{"id":"f67555e9.f4a048","type":"inject","z":"92e9a0b4.40468","name":"","topic":"","payload":"10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620.8333282470703,"y":1430,"wires":[["fe8a8aac.5ef138"]],"l":false},{"id":"fe8a8aac.5ef138","type":"change","z":"92e9a0b4.40468","name":"","rules":[{"t":"set","p":"countt","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":719.1666564941406,"y":1429.1666564941406,"wires":[["5c51e8a4.488818"]],"l":false},{"id":"43d3c1a.8190f4","type":"ui_gauge","z":"92e9a0b4.40468","name":"","group":"b5fad37c.95935","order":1,"width":10,"height":9,"gtype":"gage","title":"Temperature","label":"degrees celsius","format":"{{value}}","min":"25","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"","x":941.6666555404663,"y":1432.5000133514404,"wires":[],"l":false},{"id":"5485cd5d.0f8794","type":"function","z":"92e9a0b4.40468","name":"","func":"return {payload:msg.payload.temperature}","outputs":1,"noerr":0,"x":835,"y":1460,"wires":[["43d3c1a.8190f4","413b0223.c67b4c"]],"l":false},{"id":"413b0223.c67b4c","type":"debug","z":"92e9a0b4.40468","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":972.4999923706055,"y":1479.1666660308838,"wires":[],"l":false},{"id":"2823d47c.11ffbc","type":"function","z":"92e9a0b4.40468","name":"","func":"return {payload:msg.payload.temperature}","outputs":1,"noerr":0,"x":847.4131774902344,"y":1545.74072265625,"wires":[["fb67a525.032848","9a404a92.6e6458"]],"l":false},{"id":"fb67a525.032848","type":"ui_chart","z":"92e9a0b4.40468","name":"","group":"b5fad37c.95935","order":2,"width":10,"height":9,"label":"Temp vs Time","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"25","ymax":"60","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":995.6453069051104,"y":1553.2407989501953,"wires":[[]],"l":false},{"id":"9a404a92.6e6458","type":"debug","z":"92e9a0b4.40468","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":939.079833984375,"y":1618.2407302856445,"wires":[],"l":false},{"id":"ed250318.18933","type":"ui_table","z":"92e9a0b4.40468","group":"b5fad37c.95935","name":"All Readings","order":3,"width":20,"height":10,"columns":[{"field":"ID","title":"ID","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"time","title":"Time","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"temperature","title":"Temperature","width":"18%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"smoke detected","title":"Smoke Detected?","width":"22%","align":"left","formatter":"tickCross","formatterParams":{"target":"_blank"}},{"field":"trash height","title":"Trash Height","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"sensor function","title":"Sensor Function","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":881.6666536331177,"y":1340.0000114440918,"wires":[]},{"id":"1dfadcd6.2162c3","type":"comment","z":"92e9a0b4.40468","name":"count = 1","info":"","x":1400,"y":580,"wires":[]},{"id":"3b10a798.62efb8","type":"comment","z":"92e9a0b4.40468","name":"count = 1","info":"","x":1560,"y":1020,"wires":[]},{"id":"1b73dc7c.17f4a4","type":"comment","z":"92e9a0b4.40468","name":"temp < 40","info":"","x":2260,"y":1440,"wires":[]},{"id":"4a89d2d6.8ae83c","type":"comment","z":"92e9a0b4.40468","name":"temp > 40","info":"","x":2320,"y":1120,"wires":[]},{"id":"d0dc8102.7c72","type":"comment","z":"92e9a0b4.40468","name":"Alert community responders","info":"","x":2720,"y":1180,"wires":[]},{"id":"ec6b62ec.908ce","type":"function","z":"92e9a0b4.40468","name":"reset_count","func":"var value = 0;\nmsg.payload['count'] = value;\nflow.set('count',value);\nreturn msg","outputs":1,"noerr":0,"x":2810,"y":1040,"wires":[[]]},{"id":"bc8ca900.ba1c68","type":"delay","z":"92e9a0b4.40468","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2520,"y":1060,"wires":[["ec6b62ec.908ce"]]},{"id":"5667720d.aabbfc","type":"debug","z":"92e9a0b4.40468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2870,"y":1520,"wires":[]},{"id":"c2365e51.f9aa1","type":"twitter out","z":"92e9a0b4.40468","twitter":"","name":"Tweet","x":2690,"y":1500,"wires":[]},{"id":"32b9d2f.f2cb32e","type":"cloudant in","z":"92e9a0b4.40468","name":"Cloudant Address Retrieval","cloudant":"d006a532.9d24a8","database":"troublechute_id_address","service":"_ext_","search":"_id_","design":"","index":"","x":2660,"y":1300,"wires":[["6a80e757.d00858","78b04022.bd6ce"]]},{"id":"6a80e757.d00858","type":"debug","z":"92e9a0b4.40468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2910,"y":1320,"wires":[]},{"id":"78b04022.bd6ce","type":"function","z":"92e9a0b4.40468","name":"Address & Map Seeker","func":"var address = msg.payload.address;\nvar address_list = address.split(\" \");\nvar maps_query = address_list.join(\"+\");\n\nvar time  = flow.get('tweettime'); \nmsg.payload =\"[NEW CASE] \" + time + \" - Rubbish Chute Fire at: \" + address + \". Community assistance required. Click below for directions to fire: https://www.google.com/maps/dir/?api=1&destination=\" + maps_query ;\nreturn msg;","outputs":1,"noerr":0,"x":2770,"y":1400,"wires":[["5667720d.aabbfc","c2365e51.f9aa1"]]},{"id":"5e177098.f1a66","type":"function","z":"92e9a0b4.40468","name":"ID parser","func":"var data = msg.deviceId;\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":2580,"y":1220,"wires":[["2246620a.a03d7e","32b9d2f.f2cb32e"]]},{"id":"2246620a.a03d7e","type":"debug","z":"92e9a0b4.40468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2810,"y":1220,"wires":[]},{"id":"bb1c138e.df626","type":"debug","z":"92e9a0b4.40468","name":"Counter debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":660,"wires":[]},{"id":"d783809d.dbf7b","type":"debug","z":"92e9a0b4.40468","name":"Future MyResponder App Integration","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2250,"y":580,"wires":[]},{"id":"a1b24d9a.ba1f9","type":"debug","z":"92e9a0b4.40468","name":"Future MyResponder App Integration","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2670,"y":1120,"wires":[]},{"id":"eef6e731.9f2b18","type":"function","z":"92e9a0b4.40468","name":"Time Var Initiator","func":"var time = msg.payload.time;\nflow.set('tweettime', time);\nvar test  = flow.get('tweettime'); \nmsg.payload = test;\nreturn msg;","outputs":1,"noerr":0,"x":2190,"y":680,"wires":[["1a49a4ab.00098b"]]},{"id":"1a49a4ab.00098b","type":"debug","z":"92e9a0b4.40468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2210,"y":760,"wires":[]},{"id":"436e0570.5f0b4c","type":"function","z":"92e9a0b4.40468","name":"Time Var Initiator","func":"var time = msg.payload.time;\nflow.set('tweettime', time);\nvar test  = flow.get('tweettime'); \nmsg.payload = test;\nreturn msg;","outputs":1,"noerr":0,"x":2450,"y":1420,"wires":[["8ac6d7b2.39af28"]]},{"id":"8ac6d7b2.39af28","type":"debug","z":"92e9a0b4.40468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2450,"y":1480,"wires":[]},{"id":"9c48a073.c2ce","type":"comment","z":"92e9a0b4.40468","name":"FOR TROUBLESHOOTING PURPOSES","info":"To be connected to 3 outputs of check_count switch node to reset count variable to 0 before deploying.\n\nAfter reseting count variable, make sure to disconnect the function TEMPORARYreset_count function node from the switch node","x":1697.1429748535156,"y":771.4286346435547,"wires":[]},{"id":"3c54f056.78c4f","type":"comment","z":"92e9a0b4.40468","name":"FOR TROUBLESHOOTING PURPOSES","info":"To be connected to 3 outputs of check_count switch node to reset count variable to 0 before deploying.\n\nAfter reseting count variable, make sure to disconnect the function TEMPORARYreset_count function node from the switch node","x":1860,"y":1280,"wires":[]},{"id":"98d39072.064d1","type":"comment","z":"92e9a0b4.40468","name":"Dashboard Visualisation","info":"","x":670,"y":1220,"wires":[]},{"id":"e3138c8f.466a","type":"comment","z":"92e9a0b4.40468","name":"Automated Tweet","info":"","x":2260,"y":900,"wires":[]},{"id":"a02177b8.228ba8","type":"comment","z":"92e9a0b4.40468","name":"Automated Tweet","info":"","x":2420,"y":1200,"wires":[]},{"id":"1ebdbe60.9e4282","type":"comment","z":"92e9a0b4.40468","name":"To reset ID Column to 1","info":"","x":477.33338165283203,"y":1429.8751192092896,"wires":[]},{"id":"dbd9b481.95deb8","type":"ibmiot","z":"","name":"TempSensor_API","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"d006a532.9d24a8","type":"cloudant","z":"","host":"https://a88c241a-abbb-4e63-b84c-6d744abc030c-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"b5fad37c.95935","type":"ui_group","z":"","name":"Chute 01 Data","tab":"eeb0ab16.ab2e68","order":1,"disp":true,"width":20,"collapse":false},{"id":"eeb0ab16.ab2e68","type":"ui_tab","z":"","name":"TroubleChute Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]