overall_flow_final.json
[{"id":"29ec4a.e12de3b6","type":"tab","label":"Balai Bomba","disabled":false,"info":""},{"id":"d2ecdd1f.01f7b","type":"ibmiot in","z":"29ec4a.e12de3b6","authentication":"apiKey","apiKey":"a4ff48e8.82b5f8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"TempSensor_1","applicationId":"","deviceType":"TempSensor","eventType":"accel","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":560,"y":1000,"wires":[["39717076.45852","5a995562.ae823c","f0e4ddbb.57561"]]},{"id":"39717076.45852","type":"debug","z":"29ec4a.e12de3b6","name":"iot_info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":520,"wires":[]},{"id":"5a995562.ae823c","type":"switch","z":"29ec4a.e12de3b6","name":"check_smoke","property":"payload.smoke_detected","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":840,"y":920,"wires":[["f8dde009.ad887"],["ff443e6c.ed739"]]},{"id":"b5a735ac.e89b78","type":"cloudant out","z":"29ec4a.e12de3b6","name":"","cloudant":"7041a41f.21196c","database":"yesfire","service":"_ext_","payonly":true,"operation":"insert","x":1410,"y":700,"wires":[]},{"id":"8a66022e.bf81","type":"switch","z":"29ec4a.e12de3b6","name":"check_smoke","property":"payload.smoke_detected","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1940,"y":1060,"wires":[["2d0cabc8.889114","9124afcb.fbab1","c6fef090.5af9f","b483297d.6a0588","980a36d5.1151a8"],["8de16ea8.65c64"]]},{"id":"43540322.c0bebc","type":"comment","z":"29ec4a.e12de3b6","name":"smoke = 0","info":"","x":940,"y":1020,"wires":[]},{"id":"ff443e6c.ed739","type":"switch","z":"29ec4a.e12de3b6","name":"check_temp","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gte","v":"40","vt":"num"},{"t":"lt","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":1080,"wires":[["c403bb18.75bb58"],["91b05fdc.f83bc"]]},{"id":"80b0a879.c0e558","type":"comment","z":"29ec4a.e12de3b6","name":"smoke = 1","info":"","x":940,"y":860,"wires":[]},{"id":"91b05fdc.f83bc","type":"cloudant out","z":"29ec4a.e12de3b6","name":"","cloudant":"7041a41f.21196c","database":"nonfire","service":"_ext_","payonly":true,"operation":"insert","x":1170,"y":1240,"wires":[]},{"id":"ded2c99f.c59a68","type":"comment","z":"29ec4a.e12de3b6","name":"smoke = 0","info":"","x":2060,"y":1120,"wires":[]},{"id":"cad3d90b.97fdb8","type":"comment","z":"29ec4a.e12de3b6","name":"smoke = 1","info":"","x":2060,"y":960,"wires":[]},{"id":"84f22cdd.43bbc","type":"comment","z":"29ec4a.e12de3b6","name":"read_data_sensor","info":"","x":550,"y":960,"wires":[]},{"id":"c22844cd.7dafb8","type":"comment","z":"29ec4a.e12de3b6","name":"Simulate activate flush","info":"","x":1400,"y":620,"wires":[]},{"id":"58f16a3c.fd5174","type":"comment","z":"29ec4a.e12de3b6","name":"temp > 40","info":"","x":1200,"y":1100,"wires":[]},{"id":"39a2e147.bd62ae","type":"comment","z":"29ec4a.e12de3b6","name":"temp < 40","info":"","x":1120,"y":1160,"wires":[]},{"id":"e7ba330d.eb577","type":"comment","z":"29ec4a.e12de3b6","name":"Simulate activate flush","info":"","x":1600,"y":1060,"wires":[]},{"id":"8de16ea8.65c64","type":"switch","z":"29ec4a.e12de3b6","name":"check_temp","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gte","v":"40","vt":"num"},{"t":"lt","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2210,"y":1200,"wires":[["f2d1bf29.9f632","65f664d1.f2798c","b3c26320.b175e","2b9b4cfa.7eae94"],["4f97608c.a85c2"]]},{"id":"4f97608c.a85c2","type":"cloudant out","z":"29ec4a.e12de3b6","name":"","cloudant":"7041a41f.21196c","database":"nonfire","service":"_ext_","payonly":true,"operation":"insert","x":2350,"y":1560,"wires":[]},{"id":"c6fef090.5af9f","type":"cloudant out","z":"29ec4a.e12de3b6","name":"","cloudant":"7041a41f.21196c","database":"yesfire","service":"_ext_","payonly":true,"operation":"insert","x":2190,"y":840,"wires":[]},{"id":"f8dde009.ad887","type":"function","z":"29ec4a.e12de3b6","name":"set_count","func":"var value = flow.get('count')||0;\nvalue++;\nflow.set('count',value);\nmsg.payload['count'] = value;\nmsg.payload['flush'] = \"Flush Activated\";\nreturn msg\n","outputs":1,"noerr":0,"x":1020,"y":780,"wires":[["f8fff57.ad56f08","dca717e1.45d1f8"]]},{"id":"f8fff57.ad56f08","type":"switch","z":"29ec4a.e12de3b6","name":"check_count","property":"payload.count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1230,"y":820,"wires":[["b5a735ac.e89b78","db3ba809.c85728"],["8a66022e.bf81"],["e820e63e.fce4a8"]]},{"id":"e820e63e.fce4a8","type":"cloudant out","z":"29ec4a.e12de3b6","name":"","cloudant":"7041a41f.21196c","database":"yesfire","service":"_ext_","payonly":true,"operation":"insert","x":1350,"y":920,"wires":[]},{"id":"a03fa68f.815868","type":"comment","z":"29ec4a.e12de3b6","name":"count = 3","info":"","x":1360,"y":960,"wires":[]},{"id":"c403bb18.75bb58","type":"function","z":"29ec4a.e12de3b6","name":"set_count","func":"var value = flow.get('count')||0;\nvalue++;\nflow.set('count',value);\nmsg.payload['count'] = value;\nmsg.payload['flush'] = \"Flush Activated\";\nreturn msg","outputs":1,"noerr":0,"x":1300,"y":1140,"wires":[["ca18655c.7e7d58"]]},{"id":"ca18655c.7e7d58","type":"switch","z":"29ec4a.e12de3b6","name":"check_count","property":"payload.count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1470,"y":1260,"wires":[["3020de7d.45ed22","4c501e6.8601ce"],["8a66022e.bf81"],["fef6dc09.9d3d9"]]},{"id":"3020de7d.45ed22","type":"cloudant out","z":"29ec4a.e12de3b6","name":"","cloudant":"7041a41f.21196c","database":"yesfire","service":"_ext_","payonly":true,"operation":"insert","x":1610,"y":1140,"wires":[]},{"id":"fef6dc09.9d3d9","type":"cloudant out","z":"29ec4a.e12de3b6","name":"","cloudant":"7041a41f.21196c","database":"yesfire","service":"_ext_","payonly":true,"operation":"insert","x":1670,"y":1380,"wires":[]},{"id":"2d0cabc8.889114","type":"delay","z":"29ec4a.e12de3b6","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2080,"y":500,"wires":[["108cd187.dd129e"]]},{"id":"108cd187.dd129e","type":"function","z":"29ec4a.e12de3b6","name":"reset_count","func":"var value = 0;\nmsg.payload['count'] = value;\nflow.set('count',value);\nreturn msg","outputs":1,"noerr":0,"x":2310,"y":500,"wires":[[]]},{"id":"6248dec0.2f2b9","type":"comment","z":"29ec4a.e12de3b6","name":"count = 2","info":"","x":1440,"y":840,"wires":[]},{"id":"45048ee.24ad07","type":"comment","z":"29ec4a.e12de3b6","name":"count = 2","info":"","x":1660,"y":1200,"wires":[]},{"id":"db3ba809.c85728","type":"debug","z":"29ec4a.e12de3b6","name":"Activate Flush","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.flush","targetType":"msg","x":1400,"y":660,"wires":[]},{"id":"4c501e6.8601ce","type":"debug","z":"29ec4a.e12de3b6","name":"Activate Flush","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.flush","targetType":"msg","x":1600,"y":1100,"wires":[]},{"id":"85b4c8b5.0e6878","type":"function","z":"29ec4a.e12de3b6","name":"TEMPORARYreset_count","func":"var value = 0;\nmsg.payload['count'] = value;\nflow.set('count',value);\nreturn msg","outputs":1,"noerr":0,"x":1850,"y":1320,"wires":[[]]},{"id":"1d240f39.8de9d1","type":"function","z":"29ec4a.e12de3b6","name":"TEMPORARYreset_count","func":"var value = 0;\nmsg.payload['count'] = value;\nflow.set('count',value);\nreturn msg","outputs":1,"noerr":0,"x":1690,"y":780,"wires":[[]]},{"id":"ad0410ef.9b7c","type":"comment","z":"29ec4a.e12de3b6","name":"count = 3","info":"","x":1580,"y":1320,"wires":[]},{"id":"680e2d8.fb6add4","type":"debug","z":"29ec4a.e12de3b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2870,"y":980,"wires":[]},{"id":"1e18736c.1b90bd","type":"twitter out","z":"29ec4a.e12de3b6","twitter":"","name":"Tweet","x":2690,"y":960,"wires":[]},{"id":"7293ccd4.a40e84","type":"cloudant in","z":"29ec4a.e12de3b6","name":"Cloudant Test","cloudant":"7041a41f.21196c","database":"troublechute_id_address","service":"_ext_","search":"_id_","design":"","index":"","x":2620,"y":760,"wires":[["42be8c5d.274ce4","365c7e0d.abf082"]]},{"id":"42be8c5d.274ce4","type":"debug","z":"29ec4a.e12de3b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2910,"y":780,"wires":[]},{"id":"365c7e0d.abf082","type":"function","z":"29ec4a.e12de3b6","name":"Address & Map Seeker","func":"var address = msg.payload.address;\nvar address_list = address.split(\" \");\nvar maps_query = address_list.join(\"+\");\n\nvar time  = flow.get('tweettime'); \nmsg.payload =\"[NEW CASE] \" + time + \" - Rubbish Chute Fire at: \" + address + \". Community assistance required. Click below for directions to fire: https://www.google.com/maps/dir/?api=1&destination=\" + maps_query ;\nreturn msg;","outputs":1,"noerr":0,"x":2770,"y":860,"wires":[["680e2d8.fb6add4","1e18736c.1b90bd"]]},{"id":"9124afcb.fbab1","type":"function","z":"29ec4a.e12de3b6","name":"ID parser","func":"var data = msg.deviceId;\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":2580,"y":680,"wires":[["2a16811b.b1effe","7293ccd4.a40e84"]]},{"id":"2a16811b.b1effe","type":"debug","z":"29ec4a.e12de3b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2810,"y":680,"wires":[]},{"id":"f0e4ddbb.57561","type":"function","z":"29ec4a.e12de3b6","name":"","func":"msg.payload.command = \"addRow\";\nvar countt = flow.get('countt')||0;\ncountt += 1;\nflow.set('countt',countt);\nmsg.payload.arguments = [{\"ID\":countt,\"time\":msg.payload.time, \"temperature\": msg.payload.temperature, \"smoke detected\":msg.payload.smoke_detected,\"trash height\":msg.payload.trash_height, \"sensor function\":msg.payload.sensor_function}, true];\nreturn msg","outputs":1,"noerr":0,"x":715,"y":1340,"wires":[["c63ada63.4a1ba8","160c5042.8e8d3","4bbdb79a.de63b8","f5760d6f.47909"]],"l":false},{"id":"160c5042.8e8d3","type":"debug","z":"29ec4a.e12de3b6","name":"table debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":1280,"wires":[]},{"id":"838180a7.eb43b","type":"inject","z":"29ec4a.e12de3b6","name":"","topic":"","payload":"10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620.8333282470703,"y":1430,"wires":[["ad454471.e47798"]],"l":false},{"id":"ad454471.e47798","type":"change","z":"29ec4a.e12de3b6","name":"","rules":[{"t":"set","p":"countt","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":719.1666564941406,"y":1429.1666564941406,"wires":[["f0e4ddbb.57561"]],"l":false},{"id":"2beda00b.26f98","type":"ui_gauge","z":"29ec4a.e12de3b6","name":"","group":"595fe814.d32388","order":1,"width":10,"height":9,"gtype":"gage","title":"Temperature","label":"degrees celsius","format":"{{value}}","min":"25","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"","x":941.6666555404663,"y":1432.5000133514404,"wires":[],"l":false},{"id":"4bbdb79a.de63b8","type":"function","z":"29ec4a.e12de3b6","name":"","func":"return {payload:msg.payload.temperature}","outputs":1,"noerr":0,"x":835,"y":1460,"wires":[["2beda00b.26f98","95518d3.0129d7"]],"l":false},{"id":"95518d3.0129d7","type":"debug","z":"29ec4a.e12de3b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":972.4999923706055,"y":1479.1666660308838,"wires":[],"l":false},{"id":"f5760d6f.47909","type":"function","z":"29ec4a.e12de3b6","name":"","func":"return {payload:msg.payload.temperature}","outputs":1,"noerr":0,"x":847.4131774902344,"y":1545.74072265625,"wires":[["cd19f262.a819f","f41c4598.f330d8"]],"l":false},{"id":"cd19f262.a819f","type":"ui_chart","z":"29ec4a.e12de3b6","name":"","group":"595fe814.d32388","order":2,"width":10,"height":9,"label":"Temp vs Time","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"25","ymax":"60","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":995.6453069051104,"y":1553.2407989501953,"wires":[[]],"l":false},{"id":"f41c4598.f330d8","type":"debug","z":"29ec4a.e12de3b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":939.079833984375,"y":1618.2407302856445,"wires":[],"l":false},{"id":"c63ada63.4a1ba8","type":"ui_table","z":"29ec4a.e12de3b6","group":"595fe814.d32388","name":"All Readings","order":3,"width":20,"height":10,"columns":[{"field":"ID","title":"ID","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"time","title":"Time","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"temperature","title":"Temperature","width":"18%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"smoke detected","title":"Smoke Detected?","width":"22%","align":"left","formatter":"tickCross","formatterParams":{"target":"_blank"}},{"field":"trash height","title":"Trash Height","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"sensor function","title":"Sensor Function","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":881.6666536331177,"y":1340.0000114440918,"wires":[]},{"id":"317635a3.f6f43a","type":"comment","z":"29ec4a.e12de3b6","name":"count = 1","info":"","x":1400,"y":580,"wires":[]},{"id":"8538fd73.02c3e","type":"comment","z":"29ec4a.e12de3b6","name":"count = 1","info":"","x":1560,"y":1020,"wires":[]},{"id":"c1792b0f.5a2a18","type":"comment","z":"29ec4a.e12de3b6","name":"temp < 40","info":"","x":2260,"y":1440,"wires":[]},{"id":"cb15b742.d2aa08","type":"comment","z":"29ec4a.e12de3b6","name":"temp > 40","info":"","x":2320,"y":1120,"wires":[]},{"id":"a0029343.7f94e","type":"comment","z":"29ec4a.e12de3b6","name":"Alert community responders","info":"","x":2720,"y":1180,"wires":[]},{"id":"2d3bb1b8.473e5e","type":"function","z":"29ec4a.e12de3b6","name":"reset_count","func":"var value = 0;\nmsg.payload['count'] = value;\nflow.set('count',value);\nreturn msg","outputs":1,"noerr":0,"x":2810,"y":1040,"wires":[[]]},{"id":"f2d1bf29.9f632","type":"delay","z":"29ec4a.e12de3b6","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2520,"y":1060,"wires":[["2d3bb1b8.473e5e"]]},{"id":"d1281d06.1cfb4","type":"debug","z":"29ec4a.e12de3b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2870,"y":1520,"wires":[]},{"id":"b0b6beb1.fd44","type":"twitter out","z":"29ec4a.e12de3b6","twitter":"","name":"Tweet","x":2690,"y":1500,"wires":[]},{"id":"ae187d9f.5fc51","type":"cloudant in","z":"29ec4a.e12de3b6","name":"Cloudant Test","cloudant":"7041a41f.21196c","database":"troublechute_id_address","service":"_ext_","search":"_id_","design":"","index":"","x":2620,"y":1300,"wires":[["726bc4da.17a54c","7f319147.055ab"]]},{"id":"726bc4da.17a54c","type":"debug","z":"29ec4a.e12de3b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2910,"y":1320,"wires":[]},{"id":"7f319147.055ab","type":"function","z":"29ec4a.e12de3b6","name":"Address & Map Seeker","func":"var address = msg.payload.address;\nvar address_list = address.split(\" \");\nvar maps_query = address_list.join(\"+\");\n\nvar time  = flow.get('tweettime'); \nmsg.payload =\"[NEW CASE] \" + time + \" - Rubbish Chute Fire at: \" + address + \". Community assistance required. Click below for directions to fire: https://www.google.com/maps/dir/?api=1&destination=\" + maps_query ;\nreturn msg;","outputs":1,"noerr":0,"x":2770,"y":1400,"wires":[["d1281d06.1cfb4","b0b6beb1.fd44"]]},{"id":"65f664d1.f2798c","type":"function","z":"29ec4a.e12de3b6","name":"ID parser","func":"var data = msg.deviceId;\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":2580,"y":1220,"wires":[["663dfefa.8dce2","ae187d9f.5fc51"]]},{"id":"663dfefa.8dce2","type":"debug","z":"29ec4a.e12de3b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2810,"y":1220,"wires":[]},{"id":"dca717e1.45d1f8","type":"debug","z":"29ec4a.e12de3b6","name":"Counter debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":660,"wires":[]},{"id":"b483297d.6a0588","type":"debug","z":"29ec4a.e12de3b6","name":"Future MyResponder App Integration","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2250,"y":580,"wires":[]},{"id":"b3c26320.b175e","type":"debug","z":"29ec4a.e12de3b6","name":"Future MyResponder App Integration","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2670,"y":1120,"wires":[]},{"id":"980a36d5.1151a8","type":"function","z":"29ec4a.e12de3b6","name":"Time Var Initiator","func":"var time = msg.payload.time;\nflow.set('tweettime', time);\nvar test  = flow.get('tweettime'); \nmsg.payload = test;\nreturn msg;","outputs":1,"noerr":0,"x":2190,"y":680,"wires":[["77737dcd.fb8844"]]},{"id":"77737dcd.fb8844","type":"debug","z":"29ec4a.e12de3b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2210,"y":760,"wires":[]},{"id":"2b9b4cfa.7eae94","type":"function","z":"29ec4a.e12de3b6","name":"Time Var Initiator","func":"var time = msg.payload.time;\nflow.set('tweettime', time);\nvar test  = flow.get('tweettime'); \nmsg.payload = test;\nreturn msg;","outputs":1,"noerr":0,"x":2450,"y":1420,"wires":[["a620bce5.1501a"]]},{"id":"a620bce5.1501a","type":"debug","z":"29ec4a.e12de3b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2450,"y":1480,"wires":[]},{"id":"3ddb57e8.1aa6c8","type":"comment","z":"29ec4a.e12de3b6","name":"FOR TROUBLESHOOTING PURPOSES","info":"To be connected to 3 outputs of check_count switch node to reset count variable to 0 before deploying.\n\nAfter reseting count variable, make sure to disconnect the function TEMPORARYreset_count function node from the switch node","x":1680,"y":740,"wires":[]},{"id":"5ee45979.00b5a8","type":"comment","z":"29ec4a.e12de3b6","name":"FOR TROUBLESHOOTING PURPOSES","info":"To be connected to 3 outputs of check_count switch node to reset count variable to 0 before deploying.\n\nAfter reseting count variable, make sure to disconnect the function TEMPORARYreset_count function node from the switch node","x":1860,"y":1280,"wires":[]},{"id":"39b765f9.6bbb3a","type":"comment","z":"29ec4a.e12de3b6","name":"Dashboard Visualisation","info":"","x":670,"y":1220,"wires":[]},{"id":"fb81402c.b9e2","type":"comment","z":"29ec4a.e12de3b6","name":"Automated Tweet","info":"","x":2260,"y":900,"wires":[]},{"id":"21a95e9c.002132","type":"comment","z":"29ec4a.e12de3b6","name":"Automated Tweet","info":"","x":2420,"y":1200,"wires":[]},{"id":"a4ff48e8.82b5f8","type":"ibmiot","z":"","name":"TempSensor_API","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"7041a41f.21196c","type":"cloudant","z":"","host":"https://dcaea585-22e8-49c9-878a-e2efd1f4f121-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"595fe814.d32388","type":"ui_group","z":"","name":"Chute 01 Data","tab":"5e46aeda.110ba","order":1,"disp":true,"width":20,"collapse":false},{"id":"5e46aeda.110ba","type":"ui_tab","z":"","name":"TroubleChute Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]